# Build
.vagrant/
target/
build/
*.o
*.bin
*.dat

# Cargo
Cargo.lock

# RLS
rls/

# Temp files
tmp/
temp/

# Dumps
dump*.txt
*.dump

# Build debugging
objdump.txt
readelf.txt

# Log files
*.log
*.pcap

# Python scripting stuff
__pycache__/
*.pyc

# Editors
.vscode/

# Misc
.DS_Store
win_home
old_*/